extends layout

block content
  h1= AddQuestions
  #AddQuestions
  h1 WELCOME TO TRIVA
      div.question
         h2 INTERESTED
         br
         br
         br
         input(type="submit" style="width:300px;height=40px" name="button1" Value="Enter" onclick="location.href='/questions/new'")
         input(type="submit" style="width:300px;height=40px" name="button1" Value="Exit" onclick="location.href='/exitformalities'")
